.container-signup-page {
  color: black;
  text-align: left;
  display: flex;
}

.sign-up-left-container{
    width: 50%;
    overflow: hidden; /* Prevents overflow */
    display: flex; /* Ensures image can stretch */
    align-items: center; /* Center the image vertically */
    justify-content: center;
}
.signuppage-app-logo{
    width: 100%; /* Ensures the image takes up full width */
    height: 100vh; /* Ensures the image fills the viewport height */
    object-fit: cover;
    
}

.sign-up-inputfeild {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.signup-form {
  background-color: white;
  padding: 2rem;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.signup-inp {
  background-color: white;
  border: 1.3px solid rgb(177, 177, 177);
  width: 100%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 2rem;
  color: black;
  border-radius: 8px;
}

.sign-up-submit-btn {
  background-color: #ff652f;
  border-radius: 8px;
  font-size: 1.5rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

.signup-h3-custom {
  font-weight: 500;
  font-size: 1.2rem;
  color: #5f5f5fa8;
}

.sign-up-h2-custom {
  font-weight: 400;
}
