@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Montserrat', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: 'Montserrat', Arial, sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  all: unset; /* Resets all styles, including browser defaults */
  font-family: 'Montserrat', Arial, sans-serif; /* Reapply desired styles */
  cursor: pointer; /* Ensures the pointer style remains for buttons */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h1,
h2,
h3,
h4 {
  margin: 0px;
}

